<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{pico}}
    <style>
        html {
            padding: 2vh 10vw;
            font-size: 15px;
        }
        mjx-merror { display: none !important; }
    </style>
    <script>
        MathJax = {
            loader: {load: ['[tex]/ams']},
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
                packages: {'[+]': ['ams']},  // 启用AMS宏包
                autoload: {color: [], colorv2: ['color']}  // 颜色支持
            },
            options: {
                renderActions: {
                    addMenu: [0, '', ''],
                }
            },
        };
    </script>
    {{MathJax}}
</head>
<body>
{{markdown}}
</body>
{{mermaid}}
<script>
    mermaid.initialize({
        securityLevel: 'loose',
        startOnLoad: true
    });
    let observer = new MutationObserver(mutations => {
        for (let mutation of mutations) {
            mutation.target.style.visibility = "visible";
        }
    });
    document.querySelectorAll("pre.mermaid-pre div.mermaid").forEach(item => {
        observer.observe(item, {
            attributes: true,
            attributeFilter: ['data-processed']
        });
    });
</script>

</html>