<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{pico}}
    {{katexCss}}
    {{katexJs}}
    {{autoRender}}
    <style>
        html {
            padding: 2vh 10vw;
            font-size: 15px;
        }
    </style>
</head>
<body>

{{markdown}}
</body>
{{renderMathInElement}}
{{mermaid}}

<script>
    mermaid.initialize({
        securityLevel: 'loose',
        startOnLoad: true
    });
    // ***** 修改这里的选择器 *****
    document.querySelectorAll("pre.mermaid").forEach(item => {
        observer.observe(item, {
            attributes: true,
            attributeFilter: ['data-processed']
        });
    });
</script>

</html>